.animated-brand {
  font-size: 2rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  background: linear-gradient(
    270deg,
    green,
    blue,
    red,
    yellow,
    green
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
